 <!-- style="height:350px;" -->
 <!--
<section class="homeslider fullwidth flexslider" id="home-slider" style="max-height: 350px;">
	<ul class="slides">
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/2017/date.jpg" alt="Azureday 2017 Ukraine date and location" /></a>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/2017/02-ru.jpg" alt="Azureday 2017 Ukraine" /></a>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/2017/01-ru.jpg" alt="Azureday 2017 Ukraine" /></a>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/2017/audience/013.jpg" alt="Azureday 2017 Ukraine" /></a>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/2017/audience/001.jpg" alt="Azureday 2017 Ukraine" /></a>
		</li>
	</ul>
</section>
-->
<!-- end homeslider -->

<div id="carousel-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-generic" data-slide-to="1"></li>
		<li data-target="#carousel-generic" data-slide-to="2"></li>
		<li data-target="#carousel-generic" data-slide-to="3"></li>
		<li data-target="#carousel-generic" data-slide-to="4"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="~/Theme/img/_slides/2017/date.jpg" alt="Azureday 2017 Ukraine date and location">
		</div>
		<div class="item">
			<img src="~/Theme/img/_slides/2017/02-ru.jpg" alt="Azureday 2017 Ukraine">
		</div>
		<div class="item">
			<img src="~/Theme/img/_slides/2017/01-ru.jpg" alt="Azureday 2017 Ukraine">
		</div>
		<div class="item">
			<img src="~/Theme/img/_slides/2017/audience/013.jpg" alt="Azureday 2017 Ukraine">
		</div>
		<div class="item">
			<img src="~/Theme/img/_slides/2017/audience/001.jpg" alt="Azureday 2017 Ukraine">
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
	</a>
	<a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
	</a>
</div>
