<section class="homeslider fullwidth flexslider" id="home-slider" style="height:500px;">
	<ul class="slides">
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/date.jpg" alt="" /></a>
			<!--<a href="#"><img src="~/Theme/img/_slides/kyiv02b.jpg" alt="" /></a>-->
			<div class="flex-caption transparent light-font" style="top:25%; left: 24%;">
				<!--<div class="myaddsimpletextshadow" style="font-size: 3.5em;">
					КИЕВ
				</div>
				<div class="myaddsimpletextshadow" style="font-size: 3.5em; margin-top: 7%;">
					18 июня 
				</div>
				<div class="myaddsimpletextshadow" style="font-size: 3.5em; margin-top: 4%;">
					2016
				</div>
				-->
			</div>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/place.jpg" alt="" /></a>
			<!--<a href="#"><img src="~/Theme/img/_slides/kyiv02b.jpg" alt="" /></a>-->
			<div class="flex-caption transparent light-font center" style="top:56%; left: -24%;">
				<!-- <div class="myaddsimpletextshadow" style="font-size: 2.3em;">
					President Hotel, ул. Госпитальная 12
				</div>
				-->
			</div>
		</li>

		<li class="text-center">
			<!--<a href="#"><img src="~/Theme/img/_slides/kyiv01b.jpg" alt="" /></a>-->
			<a href="#"><img src="~/Theme/img/_slides/01.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:12%;">
				<div>
					<h1 class="animated fadeInDown"><span class="uppercase myAddSimpleTextShadow">AZUREday - это встреча облачных экспертов</span></h1>
					<p class="animated fadeInLeftBig myAddSimpleTextShadow">
						из Украины и других стран мира
					</p>
				</div>
			</div>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/02.jpg" alt="" /></a>
			<!--<a href="#"><img src="~/Theme/img/_slides/kyiv02b.jpg" alt="" /></a>-->
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					
				</div>
			</div>
		</li>
		<li class="text-center">
			<!--<a href="#"><img src="~/Theme/img/_slides/kyiv03b.jpg" alt="" /></a>-->
			<a href="#"><img src="~/Theme/img/_slides/03.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					
				</div>
			</div>
		</li>
		<li class="text-center">
			<!--<a href="#"><img src="~/Theme/img/_slides/kyiv04b.jpg" alt="" /></a>-->
			<a href="#"><img src="~/Theme/img/_slides/04.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					
				</div>
			</div>
		</li>

	</ul>
</section>
<!-- end homeslider -->
