<div class="fixedmenu">
	<div class="container">
		<div class="row">
			<a class="navbar-brand" href="~/">
				<img src="~/Theme/img/logo.png" alt="">
			</a>
			<nav class="navbar pull-right" role="navigation">
				<div class="collapse navbar-collapse">
					<ul id="main-menu" class="nav navbar-nav">
						@Html.Partial("_MenuItems")
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>