<li><a href="/">Главная</a></li>
<li><a href="/schedule">Расписание</a></li>
<li><a href="/partners">Партнеры</a></li>
@if (Request.IsAuthenticated)
{
	<li><a style="font-weight: bold; color: #f90; font-size: 1.2em;" href="/profile/my">Личный кабинет</a></li>
	<li><a href="/profile/logout">Выйти</a></li>
}
else
{
	<li><a style="font-weight: bold; color: #f90; font-size: 1.2em;" href="/profile/registration">Купить билеты</a></li>
	<li><a href="/profile/login">Войти</a></li>
}
