@using TeamSpark.AzureDay.WebSite.Config
@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - подтверждение email адреса";
}

<div class="boxedcontent">
	@Html.Action("Header", "Layout")

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div>
					&nbsp;
				</div>

				<h1>Подтверждение адреса электронной почты</h1>

				<p>Регистрация прошла успешно. На ваш почтовый ящик было отправлено письмо с ссылкой для подтверждение регистрации. Вам необходимо пройти по этой ссылке для завершения процесса регистрации на сайте.</p>

			</div>
		</div>
	</div>

	@Html.Action("Footer", "Layout")

</div>
