@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Profile
@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - подтверждение email адреса";
}

<div class="boxedcontent" style="margin-top: 79px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div>
					&nbsp;
				</div>

				<h1>@ConfirmEmail.ConfirmMail</h1>

				<p>@ConfirmEmail.Success</p>

			</div>
		</div>
	</div>
</div>
