@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Profile
@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - подтверждение регистрации";
}

<div class="boxedcontent" style="margin-top: 79px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div>
					&nbsp;
				</div>

				<h1>@ConfirmRegistration.RegistrationConfirmed</h1>

				<p>@ConfirmRegistration.Routing</p>

			</div>
		</div>
	</div>

	<script>
		setTimeout(function () {
			window.location.href = '/';
		}, 5000)
	</script>
</div>
