@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Profile

<div class="boxedcontent">
	@Html.Action("Header", "Layout")

	<h1>@Feedback.Feedback</h1>

	@Html.Action("Footer", "Layout")

</div><!-- end boxedcontent -->