@using TeamSpark.AzureDay.WebSite.Config
@{
    ViewBag.Title = $"AzureDay {Configuration.Year} - восстановление пароля";
}

<div class="boxedcontent">
	@Html.Action("Header", "Layout")

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div>
					&nbsp;
				</div>

				<h1>Восстановление пароля</h1>

				<p>На ваш почтовый ящик было отправлено письмо с ссылкой для восстановления пароля. Вам необходимо пройти по этой ссылке для завершения процесса восстановления пароля.</p>

			</div>
		</div>
	</div>

	@Html.Action("Footer", "Layout")

</div>