@using TeamSpark.AzureDay.WebSite.Data.Enum
@model TeamSpark.AzureDay.WebSite.Host.Models.Home.PartnersModel

<div class="container">
	<div class="row text-center">
		<div class="col-md-12">
			<h1 class="maintitle">Наши партнеры</h1>
		</div>
	</div>

	<section class="infoarea whites">
		<div class="container">
			<div class="row">
				@foreach (var partnersKey in Model.PartnersCollection.Keys)
				{
					var css = string.Empty;
					switch (partnersKey)
					{
						case PartnerType.VIP:
							css = "fa-diamond";
							break;
						case PartnerType.Gold:
							css = "fa-star";
							break;
						case PartnerType.Silver:
							css = "fa-star";
							break;
						case PartnerType.Raffle:
							css = "fa-gift";
							break;
						case PartnerType.Info:
							css = "fa-bullhorn";
							break;
						case PartnerType.Speaker:
							css = "fa-commenting-o";
							break;
						case PartnerType.Tech:
							css = "fa-cogs";
							break;
					}
					foreach (var partner in Model.PartnersCollection[partnersKey])
					{
						<div class="col-md-4" style="padding-bottom: 30px;">
							<i class="fa @css infoareaicon"></i>
							<div class="infoareawrap">
								<h1 class="text-center subtitle">@partnersKey.ToDisplayStringPartner()</h1>
								<a href="@partner.WebUrl" target="_blank">
									<img class="img-responsive" src="@partner.LogoUrl" alt="@partner.Title" />
								</a>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</section>
</div>
